# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
src/G4LumaCam.egg-info/*
build/*

# Jupyter
notebooks/.ipynb_checkpoints/*
notebooks/data
empir
notebooks/archive/*
nohup.out
sim_data*.csv
notebooks/gammas_sum.ipynb
notebooks/pupil.ipynb
notebooks/simulation_vs_experiment_PTB.ipynb
notebooks/simulation_vs_experiment_PTB(2).ipynb
notebooks/test.json
src/SSLG4
notebooks/tutorial_archive/neutrons/AnalysedResults/event_by_event/.ipynb_checkpoints
notebooks/tutorial_archive/*
notebooks/epithermal_with_lumacam.ipynb
notebooks/tutorial_archive/*
notebooks/microscope_setup.ipynb
notebooks/microscope_data
notebooks/*.log
notebooks/gamma_with_LYSO.ipynb
TriggerTimes/trigger_data_0.csv
notebooks/tutorial_archive
src/lumacam/config/.ipynb_checkpoints/empir_params-checkpoint.py
notebooks/demo_detector_models
notebooks/demo_models
